<h1 class="header">New Game!</h1>


<div class="all-letters">
  <div class="letter">
    <%= @letters[0] %>
  </div>

    <div class="letter">
      <%= @letters[1] %>
    </div>

    <div class="letter">
      <%= @letters[2] %>
    </div>

    <div class="letter">
      <%= @letters[3] %>
    </div>

    <div class="letter">
      <%= @letters[4] %>
    </div>

    <div class="letter">
      <%= @letters[5] %>
    </div>

    <div class="letter">
      <%= @letters[6] %>
    </div>

    <div class="letter">
      <%= @letters[7] %>
    </div>

    <div class="letter">
      <%= @letters[8] %>
    </div>

    <div class="letter">
      <%= @letters[9] %>
    </div>
</div>

<div class="form">
  <form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters  %>
    <label for="">What is the longest word you can find?</label><br>
    <input type="text" name="word">
    <input type="submit" value="Play!">
  </form>
</div>
